.photo-grid {
  margin-top: 92px;
}
@media screen and (max-width: 1287px) {
  .photo-grid {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 88px auto 0;
  }
}
