.place__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1287px) {
  .place__text {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    max-width: 352px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    margin-left: 12px;
    margin-right: 12px;
  }
}
