.intro__text_list {
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 33px 0 0 0;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 720px;
  }
}

