.cover {
  cursor: pointer;
  max-width: 1184px;
  width: 100%;
  aspect-ratio: 8/5;
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(0, 0, 0, 0.3)), url(../../image/railway-station.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.cover:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(0, 0, 0, 0.8)), url(../../image/railway-station.png);
  background-size: cover;
}

