.lead__text {
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
margin: 8px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .lead__text {
    max-width: calc(928px - 21px - 21px);
  }
}

@media screen and (max-width: 1023px) {
  .lead__text {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__text {
    margin-left: 16px;
  }
}
