.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 46.75% 49.19%;
  grid-template-rows: auto;
  gap: 48px 40px;
  padding-top: 80px;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1279px) {
.place {
  max-width: 928px;
  gap: 48px 32px;
}
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    gap: 32px;
    max-width: 320px;
    padding-top: 50px;
  }
}


