.place {
  display: grid;
  grid-template-columns: 46.75% 49.19%;
  grid-template-rows: auto;
  gap: 48px 40px;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
.place {
  max-width: 928px;
  gap: 48px 32px;
  margin-left: 48px;
  margin-top: 80px;
}
}

@media screen and (max-width: 1023px) {
  .place {
    min-width: 720px;
    gap: 48px 28px;
    margin: 73px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    margin: 50px auto 0;
    gap: 32px;
    min-width: 0;
    max-width: 320px;
  }
}


